* {
  margin: 0;
  padding: 0;
}

:root {
  --green: #1b9956;
  --green-hover: #15844a;
  --sidebar-width: 16rem;       /* 256px @ 16px base */
  --header-height: 3.375rem;    /* 54px */
  --text-dark: #21272a;
  --border-light: #dde1e6;
  --hover-bg: #f2f4f8;
  --table-alt: #e2e2e2;
  --alert: #da1e28;
}